<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <rosparam command="load" file="$(find amr_teleop)/config/joystick_params.yaml"/>

  <node name="amr_teleop_ps3_node" pkg="amr_teleop" type="amr_teleop_ps3_node.py" output="screen"/>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

</launch>
